:host ::ng-deep .p-dialog .product-image {
    width: 150px;
    margin: 0 auto 2rem auto;
    display: block;
}

.p-button-rounded {
    border-radius: 2rem;
  }
  td button {
    margin-right: 8px; /* Adjust the value as needed */
  }